.hds{

  text-align: center;
}

.imgd {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


.imgd img {
  max-height:300px;
  display: flex;
  flex-direction: column;
  justify-content:space-around;
}
